.dashboard .card{
    height: 100px;
    transition: .5s;
}
.dashboard .card:hover{
    transform: scale(1.04);
    /* box-shadow: 0 2px 7px rgba(15, 34, 58, 0.398); */
}
.dashboard .card:hover i,.dashboard .card:hover h5{
    color: #f1b44c!important;
}
.dashboard .card-header{
    padding: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: .5s;
}

.dashboard .card-header i{
    margin-right: 20px;
    font-size: 30px;
    transition: .5s;
}
.dashboard .card-header h5{
    margin-right: 20px;
    transition: .5s;
}
.breadcrumb{
    position: relative;
    height: 250px;
}

.breadcrumb img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 250px;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}
.p-25{
    padding: 25px
}
/* .breadcrumb::before{
    background: linear-gradient(rgba(0, 0, 0, 0.597), rgba(0, 0, 0, 0.497));
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
} */

.breadcrumb h3{
    padding: 50px 25px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}


